/* src/components/ProjectsPage.css */
.projects-page {
    width: 80%;
    margin: 0 auto;
  }
  /* src/components/ProjectsPage.css */

.projects-page {
  display: flex;
  flex-wrap: wrap; /* Ensures the boxes wrap to the next line if there's no space */
  gap: 20px; /* Adds space between the project boxes */
  justify-content: center; /* Centers the boxes in the container */
  padding: 20px;
}
