
body {
    background-color: bisque;
}
header {
    position: absolute;
    left: 0px;
    top: 0px;
   position: left top;
}
nav {
    font-size: large;
    font-style: normal;
    font-weight: bold;
    position: absolute;
    left: 200px;
    top: 50px;
    width: 600px;
    height: 400px;
    
  
}