/* src/components/About.css */

.about-container {
    padding: 20px;
    text-align: center; /* Center the content */
  }
  
  .download-button {
    margin-top: 20px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    outline: none;
    transition: background-color 0.2s ease-in-out;
  }
  
  .download-button:hover {
    background-color: #0056b3;
  }
  