.navbar {
    background-color: #eea47f;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
  }
  
  .logo {
    display: flex;
    align-items: center;
  }
  
  .logo-image {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    margin-right: 10px;
  }
  
  .text-wrapper {
    color: #000000;
    font-family: "Inter-Bold", Helvetica;
    font-size: 24px;
    font-weight: 700;
  }
  
  .nav-list {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
  }
  
  .nav-item {
    margin-right: 20px;
  }
  
  .nav-item:last-child {
    margin-right: 0;
  }
  
  .nav-item a {
    color: #ffffff;
    font-family: "Inter-Bold", Helvetica;
    font-size: 18px;
    font-weight: 700;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 30px;
    background-color: #022d80;
    transition: background-color 0.3s ease;
  }
  
  .nav-item a:hover {
    background-color: #0460c9;
  }
  