nav li {
    display: inline-block;
    margin-right: 20px;
  }
  
  nav a {
    color: #fff;
    text-decoration: none;
  }
  
  /* Style the main content */
  main {
    padding: 20px;
  }
  
  section {
    margin-bottom: 20px;
  }
  
  h2 {
    color: #22a7f0;
  }
  
  p {
    line-height: 1.5;
  }
  
  ul {
    list-style: disc;
    margin-left: 20px;
  }
  /* Style the images to fit within their containers */
  img {
    max-width: 80%;
    height: auto;
  }
  