.desktop1-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.desktop1-desktop1 {
  width: 100%;
  height: 1188px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  margin-right: var(--dl-space-space-unit);
  background-image: linear-gradient(150deg, rgba(255, 210, 111, 1) 0%, rgba(54, 119, 255, 1) 100%);
}
.desktop1-rectangle11 {
  top: 892px;
  left: 333px;
  width: 774px;
  height: 95px;
  position: absolute;
  border-radius: 200px;
}
.desktop1-rectangle7 {
  top: 903px;
  left: 384px;
  width: 119px;
  height: 74px;
  position: absolute;
  border-radius: 164px;
}
.desktop1-rectangle8 {
  top: 915px;
  left: 581px;
  width: 100px;
  height: 53px;
  position: absolute;
  border-radius: 164px;
}
.desktop1-rectangle9 {
  top: 907px;
  left: 760px;
  width: 64px;
  height: 70px;
  position: absolute;
  border-radius: 164px;
}
.desktop1-rectangle10 {
  top: 919px;
  left: 903px;
  width: 106px;
  height: 42px;
  position: absolute;
  border-radius: 164px;
}
.desktop1-rectangle1 {
  top: 369px;
  left: 147px;
  width: 1146px;
  height: 367px;
  position: absolute;
  border-radius: 300px 50px;
}
.desktop1-rectangle2 {
  top: 75px;
  left: 407px;
  width: 200px;
  height: 90px;
  position: absolute;
  border-radius: 30px;
}
.desktop1-text {
  top: 97px;
  left: 462px;
  color: rgba(0, 0, 0, 1);
  width: 131px;
  height: auto;
  position: absolute;
  font-size: 30px;
  font-style: Bold;
  text-align: left;
  font-family: Jost;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop1-rectangle5 {
  top: 75px;
  left: 1172px;
  width: 200px;
  height: 90px;
  position: absolute;
  border-radius: 30px;
}
.desktop1-text02 {
  top: 97px;
  left: 1186px;
  color: rgba(0, 0, 0, 1);
  width: 186px;
  height: auto;
  position: absolute;
  font-size: 30px;
  font-style: Bold;
  text-align: left;
  font-family: Jost;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop1-rectangle4 {
  top: 75px;
  left: 917px;
  width: 200px;
  height: 90px;
  position: absolute;
  border-radius: 30px;
}
.desktop1-text04 {
  top: 97px;
  left: 972px;
  color: rgba(0, 0, 0, 1);
  width: 131px;
  height: auto;
  position: absolute;
  font-size: 30px;
  font-style: Bold;
  text-align: left;
  font-family: Jost;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop1-rectangle3 {
  top: 75px;
  left: 662px;
  width: 200px;
  height: 90px;
  position: absolute;
  border-radius: 30px;
}
.desktop1-text06 {
  top: 97px;
  left: 707px;
  color: rgba(0, 0, 0, 1);
  width: 131px;
  height: auto;
  position: absolute;
  font-size: 30px;
  font-style: Bold;
  text-align: left;
  font-family: Jost;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop1-avatar1 {
  top: 11px;
  left: 27px;
  width: 297px;
  height: 261px;
  position: absolute;
}
.desktop1-text11 {
  top: 433px;
  left: 320px;
  color: rgba(255, 255, 255, 1);
  width: 783px;
  height: auto;
  position: absolute;
  font-size: 30px;
  font-style: Bold;
  text-align: left;
  font-family: Jost;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
