/* About.css */

/* About.css */

/* Apply the background color to the body or a main wrapper if you want it to cover the full page */
body {
  background-color: #14213d; /* This will set the background color for the entire page */
  margin: 0; /* Remove default margin */
  padding: 0; /* Remove default padding */
  color: #ccc; /* Set a default text color for better readability */
}

/* If you have a main wrapper around your content, you can apply the background color there */
.main-wrapper {
  background-color: #14213d; /* This will set the background color for the entire content area */
}

.about-container {
  max-width: 800px;
  margin: auto;
  padding: 20px;
  /* If you want the .about-container background to be different, set it here */
  /* background-color: #14213d; */
}

.about-container h1,
.about-container h2 {
  color: #fff; /* Ensure text is readable on the dark background */
}

.about-container p,
.about-container li {
  color: #ccc; /* Lighten the text color for readability */
}

/* ... rest of your styles ... */


.education, .skills, .experience {
  margin-top: 20px;
}

.download-button {
  display: inline-block;
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #fca311;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
}

.download-button:hover {
  background-color: #e5e5e5;
}

/* Add more styles according to your preference */
