{% extends "blog/base.html" %}
{% load static %}

{% block content %}
<link rel="stylesheet"  href="{%static 'project/project.css'%}">
<main>
    <section>
      <h2>Hi-Rob</h2>
       <p>Introducing Hi-Rob: The Innovative Robot Toy for Children's Education

        Hi-Rob is a revolutionary robot toy that aims to teach children about algorithms, programming, mathematics, languages, and more. It is designed to make learning fun and interactive for children, helping them develop their critical thinking, problem-solving, and logical reasoning skills.</p>
        <p>With Hi-Rob, children can control the robot using a mobile phone or a keypad, which makes it easy and intuitive to use. The robot's changeable maps also offer endless possibilities for learning and exploration. Parents and teachers can customize the maps to suit their children's interests and learning needs, making Hi-Rob a versatile and engaging educational tool.</p>
        <ul>
            <li><img src="{%static 'project/demo1.jpg'%}" alt="Image 1"></li>
        </ul> 
        <p>One of the key features of Hi-Rob is its ability to teach children about algorithms and programming. By programming the robot to move and perform certain actions, children can learn the basics of coding and develop their computational thinking skills. The robot also comes with pre-programmed functions that children can experiment with and modify, allowing them to explore different programming concepts in a fun and interactive way.</p>
        <ul>
            <li><img src="{%static 'project/demo2.jpg'%}" alt="Image 1"></li>
        </ul> 
        <p>In addition to programming, Hi-Rob also helps children learn about mathematics and languages. The robot can be programmed to count, solve math problems, and even speak different languages, making it an excellent tool for language learning and development.</p>
        <p>Overall, Hi-Rob is a must-have educational toy for parents, teachers, and children who are looking for an engaging and innovative way to learn. With its intuitive controls, changeable maps, and versatile programming functions, Hi-Rob is sure to become a favorite among children and educators alike.</p>

    </section>
    <section>
      <h2>Features</h2>
      <ul>
        <li>Mobile and Keypad Control: Hi-Rob can be controlled using a mobile phone or a keypad, making it easy and intuitive to use for children.</li>
        <br>
        <li>Changeable Maps: Hi-Rob comes with changeable maps that can be customized by parents or teachers to suit children's interests and learning needs.</li>
        <br>
        <li>Programming and Algorithms: Hi-Rob can be programmed to move and perform certain actions, teaching children the basics of coding and developing their computational thinking skills.</li>
        <br>
        <li>Pre-Programmed Functions: Hi-Rob comes with pre-programmed functions that children can experiment with and modify, allowing them to explore different programming concepts in a fun and interactive way.</li>
        <br>
        <li>Interactive Learning: Hi-Rob is designed to make learning fun and interactive for children, helping them develop their critical thinking, problem-solving, and logical reasoning skills.</li>
        <br>
        <li>Versatile Educational Tool: Hi-Rob is a versatile educational tool that can be used in a variety of settings, including homes, schools, and after-school programs.</li>
        <br>
        <li>Durable Design: Hi-Rob is built to last, with a durable design that can withstand the wear and tear of everyday use.</li>
        
    </ul>
    </section>
    <section>
      <h2>Contact</h2>
      <p>You can contact with for more details.</p>
      <p>E-Mail: hasankayan.formal@gmail.com</p>

      <p>Thank you for reading.</p>
    </section>
  </main>
  <footer>
    <p>Hasan KAYAN</p>
  </footer>





{% endblock %}