{% extends "blog/base.html" %}
{% load static %}

{% block content %}
<link rel="stylesheet"  href="{%static 'project/project.css'%}">
<main>
    <section>
      <h2>TAI Liftup</h2>
      <p>We are currently working on a buck converter project under the sponsorship of TAI. The project aims to develop a high-efficiency power supply for aerospace applications, specifically for use in aircraft avionics and electrical systems.</p>
        <ul>
            <li><img src="{%static 'project/buck.jpg'%}" alt="Image 1"></li>
        </ul>  
      <p>The buck converter design incorporates a proportional-integral-derivative (PID) control system, which ensures stable and accurate voltage regulation. The PID control system continuously monitors the output voltage and adjusts the switching frequency and duty cycle of the converter to maintain a constant output voltage, even under varying load conditions.</p>
      <p>To achieve high efficiency, the converter utilizes advanced power semiconductor devices and high-speed switching techniques. The design also incorporates overcurrent, overvoltage, and overtemperature protection to ensure safe and reliable operation.</p>
      <li><img src="{%static 'project/lm3524.jpg'%}" alt="Image 1"></li>
      <p>This project is a significant contribution to the aerospace industry, as it will provide a more reliable and efficient power supply for avionics and electrical systems, resulting in improved safety and reduced maintenance costs. We are excited to work with TAI on this project and look forward to the successful completion of the buck converter design.</p>

    </section>
    <section>
      <h2>Features</h2>
      <ul>
        <li>High-efficiency power supply for aerospace applications</li>
        <li>Proportional-integral-derivative (PID) control system for stable and accurate voltage regulation</li>
        <li>Continuous monitoring of output voltage for precise control</li>
        <li>Overcurrent, overvoltage, and overtemperature protection for safe and reliable operation</li>
      </ul>
    </section>
    <section>
      <h2>Contact</h2>
      <p>You can contact with for more details.</p>
      <p>E-Mail: hasankayan.formal@gmail.com</p>

      <p>Thank you for reading.</p>
    </section>
  </main>
  <footer>
    <p>Hasan KAYAN</p>
  </footer>





{% endblock %}