{% extends "blog/base.html" %}
{%load static %}

{% block content %}
<center><img src="{% static 'blog/img/hasan.png' %}" alt="Hasan Kayan" ></center> 
<main>
    <h2>Welcome to My Personal Blog!</h2>
    <p>Here I will try to talk about my working topics, projects and more.</p>
    <p>Check out my latest articles below, or use the navigation menu above to browse by category. And if you have any questions or feedback, don't hesitate to <a href="/contact">get in touch</a>!</p>
  </main>
  <div class="pencere-row">
    <div class="pencere-col">
      <a href="/portfolio">
        <div class="pencere">
          <img src="{% static 'blog/img/portfolio.png '%}" alt="Resim 1">
          <div class="pencere-content">
            <h3>My Portfolio</h3>
            <p>Check here for my resume and more.</p>
          </div>
        </div>
      </a>
    </div>
    <div class="pencere-col">
      <a href="/projects">
        <div class="pencere">
          <img src="{% static 'blog/img/projects.png '%}" alt="Resim 2">
          <div class="pencere-content">
            <h3>My Projects</h3>
            <p>Check here for my current and completed projects. I will publish my projects step by step with open source.</p>
          </div>
        </div>
      </a>
    </div>
    <div class="pencere-col">
      <a href="/myblog">
        <div class="pencere">
          <img src="{% static 'blog/img/blog.jpg '%}" alt="Resim 3">
          <div class="pencere-content">
            <h3>Blogs</h3>
            <p>Here I will try to explain my specific working topics, you can check.</p>
          </div>
        </div>
      </a>
    </div>
    <div class="pencere-col">
      <a href="/contact">
        <div class="pencere">
          <img src="{% static 'blog/img/contact.png'%}" alt="Resim 4">
          <div class="pencere-content">
            <h3>Contact</h3>
            <p>You can contact with by form or you can directly send me an email.</p>
          </div>
        </div>
      </a>
    </div>
  </div>
  
  
  <style>
    main {
      max-width: 800px;
      margin: 0 auto;
      padding: 40px 20px;
      text-align: center;
    }
  
    h2 {
      font-size: 36px;
      margin-bottom: 20px;
      color: #333;
      text-transform: uppercase;
    }
  
    p {
      font-size: 20px;
      line-height: 1.5;
      margin-bottom: 20px;
      color: #666;
    }
  
    a {
      color: #008080;
      text-decoration: none;
      border-bottom: 1px dotted #008080;
      transition: all 0.3s ease-in-out;
    }
  
    a:hover {
      color: #005757;
      border-bottom: 1px dotted #005757;
    }
  
    .pencere-row {
      display: flex;
      justify-content: space-between;
      margin-top: 40px;
    }
  
    .pencere-row {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }
  
    .pencere-col {
      display: flex;
      flex-direction: column;
      margin: 10px;
    }
  
    .pencere {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 300px;
      height: 300px;
      padding: 20px;
      border: 2px solid #ddd;
      border-radius: 10px;
      transition: transform 0.2s ease-in-out;
    }
  
    .pencere img {
      width: 100%;
      height: 60%;
      object-fit: cover;
      border-radius: 10px;
      margin-bottom: 10px;
    }
  
    .pencere-content {
      text-align: center;
    }
  
    .pencere h3 {
      font-size: 20px;
      font-weight: bold;
      margin-bottom: 10px;
    }
  
    .pencere p {
      font-size: 16px;
      line-height: 1.5;
      color: #555;
    }
  
    .pencere:hover {
      transform: scale(1.05);
    }
  </style>
  
  



{% endblock content %}