body{
    margin: 0;
    padding: 0;
    background: linear-gradient(rgba(101, 240, 250, 0.5),rgba(92, 4, 95, 0.5));
    background-size: cover;
    background-repeat: no-repeat;
}
header {
    background-color: #053b25be;
    padding: 50px;
  }

  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .logo {
    display: flex;
    align-items: center;
  }

  .logo img {
    width: 300px; /* Örnek bir logo boyutu */
    height: auto;
    margin-right: 10px;
    border-radius: 50%; /* Yuvarlak köşeler için */
    overflow: hidden; /* İçeriğin sınırlarını aşan kısımları gizlemek için */
  }

  .navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .navbar li {
   
    margin: 0 10px;
  }

  .navbar a {
    text-decoration: none;
    color: #333;
    padding: 5px;
    font-family: Arial, sans-serif;
    font-size: 20px;
    font-weight: bold;
    border-radius: 50px; /* Oval şekil için border-radius değeri */
    transition: background-color 0.3s ease; /* Geçiş efekti için transition */
  }

  .navbar a:hover {
    color: #000;
    background-color: #ddd;
  }
  .logo span {   
    font-family: sans-serif;
    font-size: 30px;
    color: #ffffff;
    font-weight: bold;
    margin-top: 5px;
  }
  