{% extends "blog/base.html" %}
{%load static %}

{% block content %}

<br>
<br>
<div id="header">
    <div class="circle">
      <h2>Hasan KAYAN</h2>
      
      
    </div>
    <h1>Software and Hardware Developer</h1>
    <p>A young engineer who wants to improve my skills by constantly working.</p>
  </div>
  <div id="contact">
    <div class="left">
      <h2>Contact Information</h2>
      <p>Ankara/Turkey</p>
      <p>hasankayan.formal@gmail.com</p>
    </div>
    <div class="right">
      <h2>Social Media</h2>
      <div class="social">
        <a href="https://github.com/hasan-kayan"><img src="{% static 'blog/img/github.png'%}" alt="GitHub" height="50" width="60"></a>
        <a href="https://www.linkedin.com/in/hasan-kayan-37a59319b/"><img src="{% static 'blog/img/linkedin.png'%}" alt="LinkedIn" height="50" width="60"></a>
        <a href="https://medium.com/@hasankayan"><img src="{% static 'blog/img/medium.png '%}" alt="Medium" height="50" width="60"></a>

      </div>
    </div>
    <div class="clearfix"></div>
  </div>
  <div id="skills">
    <h2>Skills</h2>
    <ul>
        <li>Python</li>
        <li>Golang</li>
        <li>C/C++</li>
      <li>MATLAB</li>
      <li>HTML/CSS</li>
      <li>JavaScript</li>

    </ul>
  </div>
  <div id="experience">
    <h2>Experience</h2>
    <ul>
      <li>
        <h3>Junior Engineer</h3>
        <p>AFATEK IT</p>
        <p>June 2020-December 2021 </p>
        <ul>
          <li>Electonics and embedded systems design and tests.</li>
          <li>Embedded Software.</li>
          <li>AWS managements.</li>
          <li>Web design.</li>
        </ul>
      </li>
      <li>
        <h3>Summer Intern</h3>
        <p>Masttech Electromechanics</p>
        <p>June 2022-Agust 2022 </p>
        <ul>
          <li>Power systems testing</li>
          <li>GUI design and development for mast systems</li>
          <li>PCB design</li>
          <li>MATLAB Simulations of electronic and microwave systems</li>
        </ul>
      </li>
    </ul>
  </div>
  <div id="education">
    <h2>Education</h2>
    <ul>
      <li>
        <h3>Bachelor of Electrical and Electronics Engineering</h3>
        <p>University of Gazi </p>
        <p>2019- In progress</p>
      </li>
    </ul>
  </div>

<style>
body {
        background-color: #fff2cc;
        font-family: Arial, sans-serif;
      }
      #header {
        background-color: #013f11;
        color: #fff;
        padding: 30px;
        text-align: center;
      }
      #header h1 {
        margin: 0;
        font-size: 36px;
      }
      #header p {
        margin: 0;
        font-size: 18px;
      }
      #contact {
        background-color: #f2f2f2;
        padding: 20px;
        border-top: 1px solid #d9d9d9;
        border-bottom: 1px solid #d9d9d9;
      }
      #contact h2 {
        margin-top: 0;
        font-size: 24px;
        color: #013f11;
      }
      #contact p {
        margin-bottom: 5px;
        font-size: 18px;
      }
      #skills {
        background-color: #fff;
        padding: 20px;
        border-bottom: 1px solid #d9d9d9;
      }
      #skills h2 {
        margin-top: 0;
        font-size: 24px;
        color:#013f11;
      }
      #skills ul {
        margin: 0;
        padding: 0;
        list-style-type: none;
      }
      #skills li {
        margin-bottom: 5px;
        font-size: 18px;
      }
      #experience {
        background-color: #f2f2f2;
        padding: 20px;
        border-bottom: 1px solid #d9d9d9;
      }
      #experience h2 {
        margin-top: 0;
        font-size: 24px;
        color: #013f11;
      }
      #experience ul {
        margin: 0;
        padding: 0;
        list-style-type: none;
      }
      #experience li {
        margin-bottom: 5px;
        font-size: 18px;
      }
      #education {
        background-color: #fff;
        padding: 20px;
      }
      #education h2 {
        margin-top: 0;
        font-size: 24px;
        color: #412b13;
      }
      #education ul {
        margin: 0;
        padding: 0;
        list-style-type: none;
      }
      #education li {
        margin-bottom: 5px;
        font-size: 18px;
      }
      .clearfix {
        clear: both;
      }
      .left {
        float: left;
        width: 50%;
      }
      .right {
        object-fit: cover;
        float: right;
        width: 50%;
      }
      .circle {
        width: 150px;
        height: 150px;
        background-color:  #412b13;
        border-radius: 50%;
        margin: 0 auto;
      }
      .circle h2 {
        margin-top: 0;
        font-size: 36px;
        color: #fff;
        text-align: center;
        padding-top: 30px;
      }
      .social {
        margin-top: 20px;
        text-align: center;
      }
      .social a {
        display: inline-block;
        margin-right: 10px;
        width: 40px;
      }


</style>

{% endblock content %}