/* Navbar styles */
.navbar {
    background-color: #33333384;
    color: #fff;
    display: flex;
    justify-content: space-around;
    padding: 10px;
  
  }
  
  /* Navigation links styles */
  .navbar a {
    border-radius: 20%;
    background-color: #314b5e;
    color: #fff;
    text-decoration: none;
    padding: 5px 10px;
  }
  
  .navbar a:hover {
    background-color: #59bcc9;
    border-radius: 5px; /* Add rounded edges on hover */
  }
  
  
  