{% extends "blog/base.html" %}
{% load static %}

{% block content %}
<link rel="stylesheet"  href="{%static 'blog/blog.css'%}">
<main>
    <section>
        <h2>What is Internet</h2>
        <p>
            The abstract concept of the internet in our imagination is actually a huge network of computers interconnected by physical structures. The first internet research began in the 1950's as an academic endeavor. In the following process, the internet is being use for military purposes with closed and very limited networks. The internet began to expand in the 1980's with funding from the NSF.

        </p>

        <p>
            Okay, but how does the internet work? Actually nowadays this question has very complicated answer but basically built in a certain structure. Imagine that you want to connect your phone to your computer because you want to download your photos in your phone to your computer, the easiest way to do it is a data transmission cable, this cable will allow to transfer your photos from your phone to computer, this simple connection creates a network actually. The internet doesn’t work very differently from this network structure I’m talking about, it’s just an incredibly larger structure.

        </p>
        <ul>
            <li><img src="{%static 'blog/internet/internet.jpeg'%}" alt="Image 1"></li>
        </ul>

        <p>
            Of course, it is not possible to connect every device that accesses the internet by a direct cable, so how this problem solved today ? The technology which we all are using in our homes, offices etc. is Wi-Fi.</p>
        <p>
            Wireless Fidelity (Wi-Fi) allows us to connect devices each other with no cable. A modem is a transceiver that can transmit and receive transmissions on a specific frequency. Modems are home usage routers for us that can direct data from a specific location to the correct receiver. The internet comes to our homes via cable and is distributed to us through modems, but there are also larger routers that connect certain points in the world. For areas of a certain size, there are router mechanisms to cover those areas. These interconnections, which connect cities, countries and continents, are intended to direct the correct and secure operation of the internet. Each router is connected to its related routers, again with fiber cables. Certain protocols have been devised to keep this incredible flow smooth and reliable. For example, IP (Internet Protocol), but these protocols can be another story, in this article we will examine the overall picture.
        </p>
        

      <ul>
            <li><img src="{%static 'blog/internet/browser.jpg'%}" alt="Image 1"></li>
        </ul>

        <p>
            Okay, we understand that internet is a cable connected computer network and has some other components but how can we research on internet, how does browsers works ? Every device has a IP address that represents the device, there are different types of IP address but for now imagine that IP address of devices are the ID numbers for them. Each browser is actually software running on huge computers connected to the internet. These huge computers contain thousands of computer domains within themselves and each domain is identified with IP addresses specific to that domain, when we access a site on the internet, the corresponding domain on the machines where the browsers run is activated and gives us access to that site.
        </p>
        <p>
            But when we search the internet we don’t enter a long string of numbers, where is the IP? IP addresses are embedded behind what we call domains to facilitate searches, that is, domains and IP addresses are matched on server computers, and when the domain is entered, the site in the area marked with the IP address is made to work. Today, domain names includes the topic of the website or the content of the website is already analysed by browsers and browsers direct us the truth websites by software when we just type the topic we want search.
        </p>
        <p>
            In a simple way, I have tried to explain many topics in a masterful and simplified way. I will try to explain more technically advanced and detailed explanations in my future articles.
        </p>
    </section>


    <section>
      <h2>Contact</h2>
      <p>You can contact with for more details.</p>
      <p>E-Mail: hasankayan.formal@gmail.com</p>

      <p>Thank you for reading.</p>
    </section>
  </main>
  <footer>
    <p>Hasan KAYAN</p>
  </footer>





{% endblock %}