{% extends "blog/base.html" %}
{% load static %}

{% block content %}
<main>
  <h2>Welcome to My Blog Page</h2>
  <p>You can read my latest articles here.</p>
    
  <div class="pencere-row">
    <div class="pencere-col">
      <a href="/http">
        <div class="pencere">
          <img src="{%static 'blog/http/http.png'%}" alt="Image 1">
          <div class="pencere-content">
            <h3>What is HTTP ?</h3>
            
          </div>
        </div>
      </a>
    </div>
  </div>

  <div class="pencere-row">
    <div class="pencere-col">
      <a href="/internet">
        <div class="pencere">
          <img src="{%static 'blog/internet/internet.jpeg'%}" alt="Image 1">
          <div class="pencere-content">
            <h3>What is Internet</h3>
            
          </div>
        </div>
      </a>
    </div>
  </div>
</main>

<style>
  main {
    max-width: 800px;
    margin: 0 auto;
    padding: 40px 20px;
    text-align: center;
  }

  h2 {
    font-size: 36px;
    margin-bottom: px;
    color: #333;
    text-transform: uppercase;
  }

  p {
    font-size: 20px;
    line-height: 1.5;
    margin-bottom: 20px;
    color: #666;
  }

  a {
    color: #008080;
    text-decoration: none;
    border-bottom: 1px dotted #008080;
    transition: all 0.3s ease-in-out;
  }

  a:hover {
    color: #005757;
    border-bottom: 1px dotted #005757;
  }

  .pencere-row {
    display: flex;
    justify-content: center;
    margin-top: 40px;
  }

  .pencere-col {
    display: flex;
    flex-direction: column;
    margin: 10px;
  }

  .pencere {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 600px;
    height: 600px;
    padding: 20px;
    border: 2px solid #ddd;
    border-radius: 10px;
    transition: transform 0.2s ease-in-out;
  }

  .pencere img {
    width: 100%;
    height: 60%;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 10px;
  }

  .pencere-content {
    text-align: center;
  }

  .pencere h3 {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
  }

  .pencere p {
    font-size: 16px;
    line-height: 1.5;
    color: #555;
  }

  .pencere:hover {
    transform: scale(1.05);
  }
  /* Style the images to fit within their containers */
  img {
  max-width: 70%;
  height: auto;
}


</style>

{% endblock %}