{% extends "blog/base.html" %}

{% block content %}


  <main>
    <article>
      <header>
        <h2>My First Blog Post</h2>
        <p>Published on January 1, 2023</p>
      </header>
      <section>
        
      </section>
      <footer>
        <a href="blog-post1.html">Read more...</a>
      </footer>
    </article>
    <article>
      <header>
        <h2>My Second Blog Post</h2>
        <p>Published on February 1, 2023</p>
      </header>
      <section>
       
      </section>
      <footer>
        <a href="blog-post2.html">Read more...</a>
      </footer>
    </article>
    <article>
      <header>
        <h2>My Third Blog Post</h2>
        <p>Published on March 1, 2023</p>
      </header>
      <section>
        
            {% endblock content %}
